/* Liens */
/* Liens */


* {
    list-style-type: none;
    text-decoration: none;
}

html {
    font-family: 'Tangerine', cursive;
    font-style: normal;
    background-color: rgb(5, 79, 148);
    color: white;
}

main {
    margin: 40px 0px 40px 0px;
}

/* N A V I G A T I O N */

h2 {
    font-size: 5em;
}

p {
    font-size: 2em;
}

a {
    color: white;
    text-decoration: none;
}

.nav_haut {
    display: flex;
    position: sticky;
    top: 0.1px;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    font-size: 0.8em;
}

.nav_second {
    display: flex;
    position: sticky;
    top: 40px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(3, 48, 91);
    padding: 6px 0;
}

.nav_haut ul  {
    display: flex;
    gap: 30px;
    
}

.nav_second ul  {
    display: flex;
    gap: 30px;
    padding-inline-start: 0px;
}

#image_entree img {
    width: 100%;
    margin: 0;
    height: auto;
}


/* M A I N */


#section_1 {
    background-color: rgba(24, 22, 22, 0.726);
    padding: 90px 0px 150px 0px;
}

main #section_1 article {
    display: flex;
    justify-content: center;
}

#section_1 div {
    padding: 0px 160px 100px 160px;
}

.image_section_1 {
    padding: 20px;
    width: 300px;
    border-radius: 60px;
}

/* Liens */
#section_2 {
    display: flex;
    justify-content: space-between;
    background-color: rgba(3, 124, 39, 0.76);
    padding: 150px 160px 150px 160px;
}

#section_2 article {
    display: block;
}

.image_section_2 {
    width: 200px;
    border-radius: 60px;
}

#section_3 {
    display: flex;
    justify-content: space-between;
    background-color: rgba(126, 6, 150, 0.774);
}

#section_3 { 
    padding: 150px 160px 150px 160px;
}

#section_3 article {
    display: block;
}

.image_section_3 {
    width: 500px;
    height: 400px;
    border-radius: 60px;
}

/* M E D I A    Q U E R I E S */

/* A C C U E I L  */

@media (width <= 700px) {
    html, body {
        width: 700px;
        max-width: 700px;
        min-width: 700px;
        margin: 0 auto;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 1000px) {

    html {
        min-width: 600px;
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    #section_1 {
        padding: 45px 0px 75px 0px;
    }

    #section_2 {
        padding: 75px 160px 75px 160px;
    }

    #section_1 div {
        padding: 0px 80px 100px 80px;
    }

    .image_section_1 {
        padding: 10px;
        width: 150px;
        border-radius: 30px;
    }

    .image_section_2 {
        width: 100px;
        border-radius: 30px;
    }

    .image_section_3 {
        width: 250px;
        height: 200px;
        border-radius: 30px;
    }
}

/*  M A G A S I N N E Z  */

#m_section_1 {
    background-color: rgb(24, 22, 22);
    padding: 90px 0px 150px 0px;
}

main #m_section_1 article {
    display: flex;
    justify-content: center;
}

#m_section_1 div {
    padding: 0px 80px 10px 0px;
   justify-self: center;
}

.m_image_section_1 {
    padding: 20px;
    width: 300px;
    border-radius: 60px;
}


@media screen and (max-width: 1000px) {
    #m_section_1 {
        padding: 45px 0px 75px 0px;
    }
    .m_image_section_1 {
        padding: 10px;
        width: 150px;
        border-radius: 30px;
    }
}

/* */

#m_section_2 {
    background-color: rgba(3, 124, 39, 0.76);
    padding: 90px 0px 150px 0px;
}

main #m_section_2 article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
}

#m_section_2 div {
    padding: 0px 80px 10px 0px;
   justify-self: center;
}

#m_section_2 p {
    justify-self: center;
}

.m_image_section_2 {
    padding: 20px;
    width: 300px;
    border-radius: 60px;
}


@media screen and (max-width: 1000px) {
    #m_section_2 {
        padding: 45px 0px 75px 0px;
    }
    .m_image_section_2 {
        padding: 10px;
        width: 150px;
        border-radius: 30px;
    }
}

#m_section_3 {
    background-color: rgba(126, 6, 150, 0.774);
    padding: 90px 0px 150px 0px;
}

main #m_section_3 article {
    display: flex;
    justify-content: center;
}

#m_section_3 div {
    padding: 0px 80px 10px 0px;
   justify-self: center;
}

.m_image_section_3 {
    padding: 20px;
    width: 300px;
    border-radius: 60px;
}


@media screen and (max-width: 1000px) {
    #m_section_3 {
        padding: 45px 0px 75px 0px;
    }
    .m_image_section_3 {
        padding: 10px;
        width: 150px;
        border-radius: 30px;
    }
}

/* C O N T A C T  */
/* À   P R O P O S  */
/* M A I N T E N A N C E  */
/*   */
/*   */
/*   */


/* Liens */



/* Liens */

.image_fin_article {
    justify-self: center;
    padding: 150px 0px 90px 0px;
}

.image_fin_body {
    width: 600px;
    border-radius: 60px;
}

/* Liens */

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 0.8em;
}

#copyright {
    font-size: 0.8em;
}