/*
PRESENTATION

*/

/*00 ------- BODY --------- */

*
{list-style-type: none;
text-decoration:none;
text-decoration-color:white;
color: white;

}

html
{background-color: rgba(0, 0, 0, 0.76);
color: white;

}

main
{margin: auto;
    width: fit-content;
    font-size: 1.5em;
    
}

.fit-content
{
    margin: auto;
    margin-top: 130px;
    width: 80%;
}

#multimediaContact, #formulaireContact, #multimediaContact div article:nth-child(2)
{
    box-shadow: 0px 0px 15px 1px black;
    border-radius: 10px;
}

a {color: white;}

/*01 ------- EN-TETE --------- */

.enTete
{
    background-size:cover;
     height: 620px;
}

@media screen and (max-width: 2500px) {
    main{
        
        width: auto;
    }
}


                /*BACKGROUND*/



#backgroundReference
{
    background-image: url("../Images_LOL/LOL_assembly_\(2\).jpg");
    opacity: 0.8;
}

#backgroundMentionsLegales
{
    background-image:  url("../Images_LOL/Ahri-and-Morgana-Battle-Girl-Magic-Wings-League-of-Legends-Fan-Art-HD-Wallpaper-2560x1600.jpg");
    opacity: 0.5;
    
}

#backgroundFAQ
{
    background-image: url("../Images_LOL/irelia-league-of-legends-1e.jpg");
    opacity: 0.5;
}

#backgroundContact
{
    background-image: url("../Images_LOL/sona-league-of-legends-8k-sv.jpg");
    opacity: 0.5;
}

/*02 ------- NAVIGATEUR ------  a:hover:not(.active) */

.div
{
    position: sticky;
    top: 0.3px;
    z-index: 2;
    margin: -150px 20px 0px 20px;
}

.div #navHidden
{
    text-align: center;
    top:0.3px;
    
}

.div #navHidden ul 
{
    display: flex; 
    justify-content: space-around;
    padding-inline-start: 0px;
    margin: 0%;
}

.div #navHidden ul li
{
    padding: 10px 0px;
    width: 166px; 
}

.div #navHidden ul li:nth-child(1) 
{
    background-color: black;
    color: rgb(197, 35, 35);
    border-radius: 0px 55px 12px 42px;
    
}

.div #navHidden ul li:hover
{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.362);
}

                /*      Couleur du NAVIGATEUR en JAVASCRIPT       ---------------------------------- */

                .navShow
                {
                    background-color : rgb(62, 8, 62);
                    border-radius: 30px 30px 150px 150px;
                    transition: all 1s;
                    color: white;
                }
                .div .navShow ul li:hover
                {
                    background-color: rgba(131, 40, 173, 0.858);
                    cursor: pointer;
                }

/*03 ------- SECTION 01 F.A.Q : Questions internes, questions externes--------- */

#fit-content 
{
    margin: auto;
    width: 90%;
}

#infos
{
    display: grid;
    grid-template-areas:  "A B C";
    background: url("../Images_LOL/ArrowDown.png") center; 
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1400px 2000px;
    padding-bottom: 350px;
    margin-top: 150px;
    
}

                    /*03.1 ------- EXTERNE --------- */

                    section .article
                    {
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    }

                    /*03.2 ------- BRIDGE --------- */

                    table 
                    {
                        margin: 0px 200px 0px 20px;
                    }

                    .tableI
                    {
                        padding-top: 0px;
                    }

                    #infos #centerImage img:nth-child(1)
                    {
                        margin: 0px 70px 500px 50px;
                        border-radius: 150px;
                            width: 200px;
                            height: 200px;
                    }
                    #infos #centerImage img:nth-child(2)
                    {
                        
                        margin: 0px 50px 50px 50px;
                        border-radius: 150px; 
                        width: 100px;
                            height: 100px;
                    }
                    
                    #infos #centerImage #image_last
                    {
                       
                        margin: 50px 0px 0px 50px;
                        border-radius: 150px;
                        width: 300px;
                            height: 300px;
                    }

                    @media screen and (max-width:2000px) {
            
                        #infos #centerImage img:nth-child(2)
                    {
                        
                        margin: 0px -20px 50px 350px;
                        border-radius: 150px; 
                        width: 100px;
                            height: 100px;
                    }
                    }

     
                    /*03.3 ------- INTERNE --------- */

                    section .article article p
                    {
                        margin-left: 30px;
                    }

                    section .article article img
                    {
                        float: left;
                        width: 100px;
                        height: 100px;
                        border-radius: 150px;
                    }

/*04 ------- SECTION 02 F.A.Q : derniere image, bouton Affichez plus  --------- */

#textIndependant{text-align: center; margin: 100px 3% 100px 3%;}

#textIndependant p{padding: 0% 20%;}

#wallpaperP 
{
    justify-content: center;
    align-items: center;
    display: flex;
}

#wallpaperP div
{
  font-size: 1.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#wallpaperP div aside:nth-child(1)
{
    float: left;
}

#wallpaperP div aside:nth-child(2)
{
    float: right;
}

#wallpaperP div aside:nth-child(1), #wallpaperP div aside:nth-child(2)
{
    background-color: rgba(145, 10, 179, 0.585);
    border-radius: 60px;
    padding: 10px;
}

#wallpaper
{
    column-gap: 30px;
    padding: 4% 1%;
    display: grid;
    grid-template-areas:  "A B C " ;

    overflow: auto;
}

#wallpaper article img
{
    transition: 1s ease;
    width: 425px;
    height: 260px;
    border-radius: 25px;
}

#wallpaper > article .V:hover
{
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(1.12);
    transition: 1s ease;
     clear: left;
    border: 1px solid ;
}


/*05 ------- SECTION 03 : navbar finale avec Mentions legales, Gaming, etc. --------- */

#navbarInferieur ul
{
    display: flex;
    justify-content: space-around;
    margin: 4% 5%;
}

#navbarInferieur ul li
{
    width: 290px;
    text-align: center;
    border-left: 1px solid white ;
    padding: 12px 0px 12px 0px;
}

#navbarInferieur ul li:first-child
{
    border-left: none;
}

#navbarInferieur ul li:hover
{
    background-color: rgb(160, 28, 140);
}

/*00 ------COPYRIGHT : annee --------- */

footer 
{
    padding-top: 2%;
    
}

footer p
{
    text-align: center;
}

footer p:first-child
{
    border-top: 1px solid white;
    padding-top: 10px;
}





/*00 ------- PAGE : REFERENCES --------- */

/*03 ------- SECTION 02 :  Mentions legales --------- */

                /*03.0 ------- ARTICLE 00 :  Information premiere -------- */

                #mentionsLegales
                {border: 2px solid;
                padding: 3%;
                margin-top:110px;
                text-align: justify;
                }
                
                section #premiereDIV p
                {
                    margin: 5px 5%;
                }

                    /*03.1 ------- ARTICLE 01 : References -------- */

                    header h1 
                    {text-align: center;
                       color: yellow;
                       font-size: 35px;
                   }
                   
                   section .notice
                   {
                       text-align: center;
                   }
                   
                   article
                   {
                       display: flex;
                   }
                   
                   #mentionsLegales article div p
                   {
                       margin: 1% 5.5% 0% 2%;
                   }
                   
                   aside svg
                   {float: left;
                   margin: 4vw 0vw 0vw 4vw;}
                   
                   aside svg:hover
                   {
                       cursor: pointer;
                       background-color: blueviolet;;
                       border-radius: 200px;
                   }

                   #mentionsLegales p a
                   {
                        color: blueviolet;
                   }                   

/*00 ------- PAGE : CONTACT --------- */

/*03 ------- SECTION 02 :  Google Maps + Video  --------- */

                #mainContact 
                {
                    text-align: center;
                }

                #multimediaContact
                {
                    display: flex;
                    
                background-color: rgba(0, 0, 0, 0.406);
                  justify-content: center;
                  overflow: hidden;
                  
                }

                #multimediaContact div
                {
                    margin: 50px;
                }

                /*03.0 ------- ARTICLE 00 :  Google Maps -------- */


                            #googleMaps 
                            {
                             margin: 0px 0px 20px 0px;
                             border-radius: 50px;
                            }
         
                            #multimediaContact div article:nth-child(1)
                            {
                             
                             height:250px;
                             
                            }
         
                            #videoUNContact
                            {
                             margin: 38px 80px 0px 0px;
                             border-radius: 5%; 
                            }
                
                            #multimediaContact div:last-child
                            {
                                 width: 560px;
                            }
         
                            #multimediaContact div article:nth-child(2)
                                 {
                                     text-align: justify;
                                     background-color: yellowgreen;
                                     padding: 0px 20px 0px 20px;
                                     margin: 40px 0px 0px 0px;
                                 }
         
                        


               

                        /*      REDIMENSIONNEMENT       */

                    @media screen and (max-width:1502px)
                    {
                        #multimediaContact 
                        {
                            display : block;
                        }

                        #multimediaContact div:last-child
                        {
                            margin: auto;
                        }

                        #videoUNContact
                        {
                            
                            width: 690px;
                            border-radius: 5%; 
                        }
                      
                        #multimediaContact div article:last-child
                        {
                            
                            width: 665px;
                            margin: 40px 0px 60px -70px;
                        }

                    }


                            /*03.0 ------- ARTICLE 01  CONTACT :  FORMULAIRE -------- */

                                     /*03.0 ------- PARTIE 01 : Element INTERNE -------- */


                            #formulaireContact
                            {
                                background-image: url("../Images_LOL/darius-league-of-legends-4k-ky-1366x768.jpg");
                                background-size: cover;
                                margin: 20px 0vw 10px 0vw;
                            }

                            #divUNContact 
                            {
                                display: flex;
                                justify-content: center; 
                            }

                            #asideLeftContact
                            {
                               padding: 0px 30px 0px 0px;
                            }
                            #asideRightContact
                            {
                               padding: 0px 10px 0px 0px;
                            }

                            #svgRightContact
                            {
                                width: 50px;

                            }
                            
                            #formulaireContact #divUNContact  p
                            {
                                width: 450px;
                                padding-top: 2.7vw;
                            }

                            #imgDIVContact
                            {
                                margin: 2vw 0vw 2vw 0vw;
                               
                            }

                            .zoom
                            {
                                width: 90px;
                                height: 80px;
                                border-radius: 50px;
                                cursor: pointer;
                            }
                            

        /*DIVISION IMAGE AGRANDIE*/

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            }
            .modalImage {
            margin: auto;
            display: block;
            width: 50%;
            height: 60%;
            max-width: 700px;
            }
            #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
            }
            .close {
            position: absolute;
            top: 10px;
            right: 75px;
            color: #f1f1f1;
            font-size: 70px;
            font-weight: bold;
            transition: 0.3s;
            }
            .close:hover, .close:focus 
            {
            color: rgb(255, 0, 0);
            cursor: pointer;
            }
            @media only screen and (max-width: 700px) {
            .modalImage {
            width: 100%;
            }
            }

/*FIN DE  LA DIVISION AGRANDIE*/

                         
                            #formulaireContact #textAvantFormulaire
                            {
                                margin: 0% 12%;
                            }

                                    /*03.0 ------- PARTIE 02 : FORMULAIRE LUI-MEME -------- */

                            #formulaire input
                            {
                                width: 300px;
                                height: 28px;
                                margin: 12px ;
                                color: initial;
                            }

                            #formulaire button
                            {
                                width: 150px;
                                height: 30px;
                                margin: 12px;
                                background-color: rgba(0, 0, 255, 0.651);
                            }



/*00 -------02 -- Telecharger l'application--------- */

                            #textForApplication
                            {
                                margin-top: 70px;
                            }

                            #applicationC p
                            {
                                background-color: rgba(0, 0, 0, 0.683);
                              border: 2px solid;
                                display: inline-block;
                                margin: 2% 1% 4% 1%;
                                padding: 2%;
                                border-radius: 200px;
                            }

                            #applicationC p:hover
                            {
                                background-color: rgba(118, 24, 118, 0.781);
                            }
/*00 ------- BODY --------- */